/* dark-mode.css - Estilo do modo escuro */
.dark-mode {
    background-color: #121212;
    color: #fff;
}

.dark-mode header,
.dark-mode footer {
    background-color: #1e1e1e;
}

.dark-mode .projeto {
    background-color: #1f1f1f;
    color: #fff;
}

.dark-mode .projeto a {
    background-color: #bb86fc;
    color: #121212;
}

.dark-mode button#toggle-dark {
    background-color: #bb86fc;
    color: #121212;
}